
body, html{
  background-color: #f2f2d9;
  color: black;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Poiret One', cursive;
}

#loginForm{
  text-align: center;
  margin: 0px;
  padding-bottom: 50px;
  padding-top: 8px;
  position: relative;
  top: 100px;
  left: 0px;
  right: 0px;
  transition: width 4s;
  transition-property: all;
}
#loginForm:hover{
  background-color: #D4AF37;
  box-shadow: 2px 2px 50px #663300;
}
h1{
  font-size: 45px;
  font-family: 'Syncopate', sans-serif;
}
p{
  font-size: 30px;
}
#line{
  text-align: center;
}
#name{
  width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  height: 40px;
  font-family: 'Poiret One', cursive;
  margin: 0px;
  display: inline-block;
}


#submit{
  background-color: #f2f2d9;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Poiret One', cursive;
  height: 54px;
  width: 100px;

}
#submit:hover{
  box-shadow: 1px 1px 20px #4c452c;
}
