
body, html{
  background: #003300;
  color: #e6ffe6;
  font-family: 'Englebert', sans-serif;
  background: repeating-radial-gradient(circle, #006600 15%, #001a00 25%, #006600 30%);
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#loginForm{
  text-align: center;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
}
h1{
  font-size: 45px;
  font-family: 'Titan One', cursive;
}
p{
  font-size: 30px;
}
#name{
  width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 30px;
  font-family: 'Englebert', sans-serif;
}

#name:hover{
  box-shadow: 2px 2px 50px #000000;
}

#submit{
  background-color: #001a00;
  border: none;
  color: white;
  padding: 18px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Titan One', cursive;

}
#submit:hover{
  box-shadow: 1px 1px 20px #000000;
}
