body, html{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #ff98f4;
}

#container{
  height: auto;
  border: 3px solid blue;
  position: relative;
  display: block;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 20px 80px;
  background-color: #f89f58;
  position: absolute;
}


#users{
  position: absolute;
  float: right;
  bottom: 38px;
  right: 0px;
  width: 150px;
  top: 0px;
  border: 1px solid green;
  word-wrap: break-word;
  align: left;
  list-style-position: outside;
  background-color: grey;
}

#relativeContainer{
  position: relative;
  width: 100%;
  height: 90%
}

#messageContainer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.line{
  text-align: center;
  border: 3px solid red;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  width: 75%;
  float: left;
  overflow: auto;
  word-wrap: break-word;
}

#line0{
  display: none;
}

.name{
  color: blue;
  border: 3px solid yellow;
  float: left;
  padding-left: 20px;
}

.message{
	font-size: 20px;
	float: left;
	padding-left: 30px;
	padding-right: 20px;
  max-width: 65%;
	overflow: auto;
	word-wrap: break-word;
  text-justify: inter-word;
  text-align: left;
}

.time{
  float: right;
}

#msgForm{
  width: 99.5%;
  margin: auto;
  position: absolute;
  bottom: 0;
  border: 3px solid indigo;
  white-space: nowrap;
}
#message{
  width: 100%;
  padding: 9px 0px;
}

#messageBar{
  overflow: hidden;
}

#submitButton{
  background-color: blue;
  height: 36px;
  width: 150px;
  float: right;
}
@media screen and (max-width: 767px){
  #users{
    display: none;
  }
  #submitButton{
    background-color: blue;
    height: 36px;
    width: 50px;
    float: right;
  }
  .line{
    text-align: center;
    border: 3px solid red;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 75%;
    float: left;
    overflow: auto;
    word-wrap: break-word;
  }
  .message{
  	font-size: 20px;
  	float: left;
  	padding-left: 30px;
  	padding-right: 20px;
  	overflow: auto;
    max-width: 60%;
  	word-wrap: break-word;
    text-justify: inter-word;
    text-align: left;
  }
}
