body, html{
  width: 100%;
  height: 100%;
  border: 2px solid white;
  margin: 0;
  background: #000000 url("pac.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#container{
  position: absolute;
  display: block;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 20px 80px;
  overflow: hidden;
}

#users{
  float: right;
  clear: none;
  width: 150px;
  margin: 0;
  padding: 0;
  height: 100%;
  word-wrap: break-word;
  color: white;
  background: black;
  font-variant: small-caps;
  font-family: 'Trirong', serif;
}
#users:hover{
  text-shadow: 1px 1px 10px red, 1px 1px 30px white;
}
#UserBar{
  color: #d9b18c;
  text-align: center;
  font-variant: small-caps;
  font-family: 'Trirong', serif;
  font-size: 22px;
  font-weight: 600;
}
#user0 {
  display: none;
}

#messageContainer{
  height: 95%;  /* set dynamically in client.js */
  position: relative;
  top: 0;
  left: 0;
  right: 150px;  /* important, cannot explicitly set width */
  overflow-y: scroll;
  overflow-x: hidden;
}

.line{
  text-align: center;
  width: 100%;
  overflow: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 10px;
  word-wrap: break-word;
  display: inline-block;
}

#line0{
  display: none;
}

.name{
  color: #e6ccb3;
  float: left;
  width: 130px;
  font-size: 16px;
  word-wrap: break-word;
  overflow: auto;
  font-variant: small-caps;
  font-family: 'Trirong', serif;
  text-align: right;
}

.message{
  font-size: 20px;
  float: left;
  padding-left: 30px;
  padding-right: 20px;
  max-width: 80%;
  word-wrap: break-word;
  text-justify: inter-word;
  text-align: justify;
  font-family: 'Trirong', serif;
  color: white;
}

.time{
  float: right;
  color: white;
  font-size: 0.5em;
  font-family: 'Trirong', serif;
}

#msgForm{
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  overflow: hidden;

}
#message{
  width: 100%;
  padding: 9px 0px;
  font-size: 1em;
  font-family: 'Trirong', serif;
}

#messageBar{
  overflow: hidden;
}

#submitButton{
    background-color: #d9b18c;
    border: none;
    color: #000000;
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
    width: 150px;
    font-variant: small-caps;
    font-family: 'Trirong', serif;
}
#submitButton:hover{
  background-color: #000000;
  color: white;
}
@media screen and (max-width: 767px){
  #users{
    display: none;
  }
  #submitButton{
      background-color: #d9b18c;
      border: none;
      color: #000000;
      height: 50px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      cursor: pointer;
      float: right;
      width: 120px;
      font-variant: small-caps;
      font-family: 'Trirong', serif;
  }
  #submitButton:hover{
    background-color: #000000;
    color: white;
  }

  .message{
    font-size: 20px;
    float: left;
    padding-left: 30px;
    padding-right: 20px;
    max-width: 80%;
    word-wrap: break-word;
    text-justify: inter-word;
    text-align: left;
  }
}
/* to do: move back over and down the users(z-index of -1), try
to fix send button (see new CSS3 button example) or
just use negative margins,try to get messages to
display across full width until it hits the users tab */
